<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <sga_developertoolbar>
                <enabled_bo>0</enabled_bo>
                <enabled_fo>1</enabled_fo>
            </sga_developertoolbar>
        </dev>
    </default>
</config>
